<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CODECOD-1.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Login</display-name>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>com.codecod.controller.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Logout</display-name>
    <servlet-name>UserLogoutController</servlet-name>
    <servlet-class>com.codecod.controller.UserLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogoutController</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UploadTaskController</display-name>
    <servlet-name>UploadTaskController</servlet-name>
    <servlet-class>com.codecod.controller.UploadTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadTaskController</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>jarDemo</display-name>
    <servlet-name>jarDemo</servlet-name>
    <servlet-class>com.parse.file.jarDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jarDemo</servlet-name>
    <url-pattern>/uploadJar</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>tes_decomposer</display-name>
    <servlet-name>tes_decomposer</servlet-name>
    <servlet-class>com.parse.file.tes_decomposer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tes_decomposer</servlet-name>
    <url-pattern>/uploadZip</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>market</display-name>
    <servlet-name>CodeMarketController</servlet-name>
    <servlet-class>com.codecod.controller.CodeMarketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeMarketController</servlet-name>
    <url-pattern>/CodeMarket</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>microtask</display-name>
    <servlet-name>MicrotaskController</servlet-name>
    <servlet-class>com.codecod.controller.MicrotaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MicrotaskController</servlet-name>
    <url-pattern>/microtask/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>OA</display-name>
    <servlet-name>OutputAgreementController</servlet-name>
    <servlet-class>com.codecod.controller.OutputAgreementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutputAgreementController</servlet-name>
    <url-pattern>/result/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>microtask</display-name>
    <servlet-name>answeredMicrotask</servlet-name>
    <servlet-class>com.codecod.controller.answeredMicrotask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>answeredMicrotask</servlet-name>
    <url-pattern>/answeredMicrotask/</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>QC</display-name>
    <servlet-name>MVcontroller</servlet-name>
    <servlet-class>com.codecod.QualityControl.MVcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVcontroller</servlet-name>
    <url-pattern>/vote/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>list</display-name>
    <servlet-name>ListOfMicrotasks</servlet-name>
    <servlet-class>com.codecod.controller.ListOfMicrotasks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOfMicrotasks</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>list</display-name>
    <servlet-name>ListPageController</servlet-name>
    <servlet-class>com.codecod.requester.ListPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPageController</servlet-name>
    <url-pattern>/list_of_task</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>details</display-name>
    <servlet-name>TaskPageDetail</servlet-name>
    <servlet-class>com.codecod.requester.TaskPageDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskPageDetail</servlet-name>
    <url-pattern>/task/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TestJquery</display-name>
    <servlet-name>tryJQuery</servlet-name>
    <servlet-class>com.codecod.jQuery.tryJQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tryJQuery</servlet-name>
    <url-pattern>/saveIt</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VotePage</display-name>
    <servlet-name>vote</servlet-name>
    <servlet-class>com.codecod.QualityControl.vote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vote</servlet-name>
    <url-pattern>/voting</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Resume</display-name>
    <servlet-name>WorkerResume</servlet-name>
    <servlet-class>com.codecod.controller.WorkerResume</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerResume</servlet-name>
    <url-pattern>/resume</url-pattern>
  </servlet-mapping>
</web-app>